{% extends 'base.html' %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/stock.js"></script>
<h3 class="m-2">{{company.name}}</h3>

<form action="" method="GET">
    <div class="row">
            <div class="col-md-4">
                <input class="form-control" type="date" name="from" placeholder="Date from">
            </div>
    
            <div class="col-md-4">
                <input class="form-control" type="date" name="to" placeholder="Date to">
            </div>
    
            <div class="col-md-4">
                <input class="btn btn-primary" type="submit" name="" value="Fetch">
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'analytical-chart' company.pk %}"><button class="btn btn-info">Go to analytics view</button></a>
        </div>
    </div>
    <br>
<div id="container" style="height: 600px;"></div>

<script>
    // Fetch data passed from Django view
    const chartData = JSON.parse('{{ data | escapejs }}');
    console.log(chartData)

    Highcharts.stockChart('container', {
        title: {
            text: 'Candlestick Chart'
        },
        series: [{
            type: 'candlestick',
            name: 'OHLC Data',
            data: chartData,
            color: 'pink',
            upColor: 'lightgreen',
            upLineColor: 'green',
            lineColor: 'black',
        }],
        rangeSelector : {
			selected : 0,
			inputEnabled: false
		},

    });
</script>
{% endblock %}